In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data.head()

,Subject No,Acetone,K.Oms Resistance,Pressure (PSI),Temprature,Humudity,Blood Glu
0,1,0.487603,390.053291,0.303376,1.976480,11.1556,79.0610
1,2,0.411131,351.578015,0.290203,0.864224,11.6821,107.4300
2,3,0.411526,403.883245,0.403834,0.968757,12.7089,107.6420
3,4,0.129912,261.469004,0.188188,-0.143392,15.7649,96.5501
4,5,0.643169,430.743074,0.162454,1.986460,14.7669,147.4120

In [4]:
data.shape

(24, 7)

In [5]:
data.loc[0:5,:]

,Subject No,Acetone,K.Oms Resistance,Pressure (PSI),Temprature,Humudity,Blood Glu
0,1,0.487603,390.053291,0.303376,1.976480,11.1556,79.0610
1,2,0.411131,351.578015,0.290203,0.864224,11.6821,107.4300
2,3,0.411526,403.883245,0.403834,0.968757,12.7089,107.6420
3,4,0.129912,261.469004,0.188188,-0.143392,15.7649,96.5501
4,5,0.643169,430.743074,0.162454,1.986460,14.7669,147.4120
5,6,0.130772,184.461303,0.567081,1.026360,16.3072,108.1690

In [6]:
data=data.iloc[:,1:6]

In [7]:
data.mean()

Acetone               0.370862
K.Oms Resistance    377.770515
Pressure (PSI)        0.282700
Temprature            1.166393
Humudity             12.597848
dtype: float64

In [8]:
data.corr()

,Acetone,K.Oms Resistance,Pressure (PSI),Temprature,Humudity
Acetone,1.000000,0.723372,-0.049422,0.147231,-0.184109
K.Oms Resistance,0.723372,1.000000,0.018226,-0.040471,-0.120242
Pressure (PSI),-0.049422,0.018226,1.000000,0.186269,0.368819
Temprature,0.147231,-0.040471,0.186269,1.000000,-0.268908
Humudity,-0.184109,-0.120242,0.368819,-0.268908,1.000000

In [9]:
data.head()

    Acetone  K.Oms Resistance  Pressure (PSI)  Temprature  Humudity
0  0.487603        390.053291        0.303376    1.976480   11.1556
1  0.411131        351.578015        0.290203    0.864224   11.6821
2  0.411526        403.883245        0.403834    0.968757   12.7089
3  0.129912        261.469004        0.188188   -0.143392   15.7649
4  0.643169        430.743074        0.162454    1.986460   14.7669

In [10]:
data.iloc[:,1:5]

    K.Oms Resistance  Pressure (PSI)  Temprature  Humudity
0         390.053291        0.303376    1.976480  11.15560
1         351.578015        0.290203    0.864224  11.68210
2         403.883245        0.403834    0.968757  12.70890
3         261.469004        0.188188   -0.143392  15.76490
4         430.743074        0.162454    1.986460  14.76690
5         184.461303        0.567081    1.026360  16.30720
6         379.680825        0.693272    2.040630  16.32240
7         509.965282        0.110556    0.776423   6.71526
8         406.526367        0.388616    0.828853   7.24449
9         640.749789        0.198314    1.995010   9.79030
10        641.106968        0.197911    0.023762   5.24805
11        433.843384        0.400022    1.037970  17.41630
12        304.316146        0.197104    1.040430  12.37210
13        304.773334        0.183820    1.043150   4.28608
14        422.070779        0.208844    0.994918  16.45600
15        305.659137        0.094532    0.996389  15.45860
16        565.828011        0.499186    0.999169  24.08420
17        371.451431        0.384805    3.026230   4.35421
18        410.926807        0.093266    1.004290   2.34361
19        255.496978        0.080191    1.006740  13.50140
20        255.882731        0.155722    1.059880  16.06680
21        347.320446        0.395808    0.099628  29.24830
22        347.963368        0.395293    1.315490   9.01255
23        140.742646        0.192402    2.025590  10.04210

In [11]:
X=data.iloc[:,1:5].values

In [12]:
data

     Acetone  K.Oms Resistance  Pressure (PSI)  Temprature  Humudity
0   0.487603        390.053291        0.303376    1.976480  11.15560
1   0.411131        351.578015        0.290203    0.864224  11.68210
2   0.411526        403.883245        0.403834    0.968757  12.70890
3   0.129912        261.469004        0.188188   -0.143392  15.76490
4   0.643169        430.743074        0.162454    1.986460  14.76690
5   0.130772        184.461303        0.567081    1.026360  16.30720
6   0.438887        379.680825        0.693272    2.040630  16.32240
7   0.336761        509.965282        0.110556    0.776423   6.71526
8   0.568009        406.526367        0.388616    0.828853   7.24449
9   0.645313        640.749789        0.198314    1.995010   9.79030
10  0.748286        641.106968        0.197911    0.023762   5.24805
11  0.184621        433.843384        0.400022    1.037970  17.41630
12  0.236354        304.316146        0.197104    1.040430  12.37210
13  0.198316        304.773334        0.183820    1.043150   4.28608
14  0.570534        422.070779        0.208844    0.994918  16.45600
15  0.211983        305.659137        0.094532    0.996389  15.45860
16  0.494457        565.828011        0.499186    0.999169  24.08420
17  0.353855        371.451431        0.384805    3.026230   4.35421
18  0.482483        410.926807        0.093266    1.004290   2.34361
19  0.316253        255.496978        0.080191    1.006740  13.50140
20  0.137598        255.882731        0.155722    1.059880  16.06680
21  0.317946        347.320446        0.395808    0.099628  29.24830
22  0.126075        347.963368        0.395293    1.315490   9.01255
23  0.318834        140.742646        0.192402    2.025590  10.04210

In [13]:
X

array([[ 3.90053291e+02,  3.03376000e-01,  1.97648000e+00,
         1.11556000e+01],
       [ 3.51578015e+02,  2.90203000e-01,  8.64224000e-01,
         1.16821000e+01],
       [ 4.03883245e+02,  4.03834000e-01,  9.68757000e-01,
         1.27089000e+01],
       [ 2.61469004e+02,  1.88188000e-01, -1.43392000e-01,
         1.57649000e+01],
       [ 4.30743074e+02,  1.62454000e-01,  1.98646000e+00,
         1.47669000e+01],
       [ 1.84461303e+02,  5.67081000e-01,  1.02636000e+00,
         1.63072000e+01],
       [ 3.79680825e+02,  6.93272000e-01,  2.04063000e+00,
         1.63224000e+01],
       [ 5.09965282e+02,  1.10556000e-01,  7.76423000e-01,
         6.71526000e+00],
       [ 4.06526367e+02,  3.88616000e-01,  8.28853000e-01,
         7.24449000e+00],
       [ 6.40749789e+02,  1.98314000e-01,  1.99501000e+00,
         9.79030000e+00],
       [ 6.41106968e+02,  1.97911000e-01,  2.37625000e-02,
         5.24805000e+00],
       [ 4.33843384e+02,  4.00022000e-01,  1.03797000e+00,
         1.74163000e+01],
       [ 3.04316146e+02,  1.97104000e-01,  1.04043000e+00,
         1.23721000e+01],
       [ 3.04773334e+02,  1.83820000e-01,  1.04315000e+00,
         4.28608000e+00],
       [ 4.22070779e+02,  2.08844000e-01,  9.94918000e-01,
         1.64560000e+01],
       [ 3.05659137e+02,  9.45320000e-02,  9.96389000e-01,
         1.54586000e+01],
       [ 5.65828011e+02,  4.99186000e-01,  9.99169000e-01,
         2.40842000e+01],
       [ 3.71451431e+02,  3.84805000e-01,  3.02623000e+00,
         4.35421000e+00],
       [ 4.10926807e+02,  9.32662000e-02,  1.00429000e+00,
         2.34361000e+00],
       [ 2.55496978e+02,  8.01908000e-02,  1.00674000e+00,
         1.35014000e+01],
       [ 2.55882731e+02,  1.55722000e-01,  1.05988000e+00,
         1.60668000e+01],
       [ 3.47320446e+02,  3.95808000e-01,  9.96280000e-02,
         2.92483000e+01],
       [ 3.47963368e+02,  3.95293000e-01,  1.31549000e+00,
         9.01255000e+00],
       [ 1.40742646e+02,  1.92402000e-01,  2.02559000e+00,
         1.00421000e+01]])

In [14]:
data.iloc[:,0:1]

     Acetone
0   0.487603
1   0.411131
2   0.411526
3   0.129912
4   0.643169
5   0.130772
6   0.438887
7   0.336761
8   0.568009
9   0.645313
10  0.748286
11  0.184621
12  0.236354
13  0.198316
14  0.570534
15  0.211983
16  0.494457
17  0.353855
18  0.482483
19  0.316253
20  0.137598
21  0.317946
22  0.126075
23  0.318834

In [15]:
y=data.iloc[:,0:1].values

In [16]:
data.iloc[:,0:1].values

array([[0.48760261],
       [0.41113086],
       [0.41152577],
       [0.12991171],
       [0.64316945],
       [0.13077205],
       [0.43888748],
       [0.3367606 ],
       [0.56800936],
       [0.64531325],
       [0.74828637],
       [0.18462103],
       [0.2363544 ],
       [0.19831599],
       [0.57053398],
       [0.21198274],
       [0.49445714],
       [0.35385462],
       [0.48248286],
       [0.31625342],
       [0.13759838],
       [0.3179459 ],
       [0.12607543],
       [0.31883445]])

In [17]:
y

array([[0.48760261],
       [0.41113086],
       [0.41152577],
       [0.12991171],
       [0.64316945],
       [0.13077205],
       [0.43888748],
       [0.3367606 ],
       [0.56800936],
       [0.64531325],
       [0.74828637],
       [0.18462103],
       [0.2363544 ],
       [0.19831599],
       [0.57053398],
       [0.21198274],
       [0.49445714],
       [0.35385462],
       [0.48248286],
       [0.31625342],
       [0.13759838],
       [0.3179459 ],
       [0.12607543],
       [0.31883445]])

In [18]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 100)

/home/milan/.virtualenvs/facecourse-py3/lib/python3.5/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [19]:
X_train

array([[ 1.84461303e+02,  5.67081000e-01,  1.02636000e+00,
         1.63072000e+01],
       [ 3.04316146e+02,  1.97104000e-01,  1.04043000e+00,
         1.23721000e+01],
       [ 3.47963368e+02,  3.95293000e-01,  1.31549000e+00,
         9.01255000e+00],
       [ 4.33843384e+02,  4.00022000e-01,  1.03797000e+00,
         1.74163000e+01],
       [ 4.30743074e+02,  1.62454000e-01,  1.98646000e+00,
         1.47669000e+01],
       [ 1.40742646e+02,  1.92402000e-01,  2.02559000e+00,
         1.00421000e+01],
       [ 3.90053291e+02,  3.03376000e-01,  1.97648000e+00,
         1.11556000e+01],
       [ 3.51578015e+02,  2.90203000e-01,  8.64224000e-01,
         1.16821000e+01],
       [ 2.55882731e+02,  1.55722000e-01,  1.05988000e+00,
         1.60668000e+01],
       [ 4.22070779e+02,  2.08844000e-01,  9.94918000e-01,
         1.64560000e+01],
       [ 2.55496978e+02,  8.01908000e-02,  1.00674000e+00,
         1.35014000e+01],
       [ 3.71451431e+02,  3.84805000e-01,  3.02623000e+00,
         4.35421000e+00],
       [ 4.03883245e+02,  4.03834000e-01,  9.68757000e-01,
         1.27089000e+01],
       [ 6.41106968e+02,  1.97911000e-01,  2.37625000e-02,
         5.24805000e+00],
       [ 5.65828011e+02,  4.99186000e-01,  9.99169000e-01,
         2.40842000e+01],
       [ 3.05659137e+02,  9.45320000e-02,  9.96389000e-01,
         1.54586000e+01],
       [ 5.09965282e+02,  1.10556000e-01,  7.76423000e-01,
         6.71526000e+00],
       [ 2.61469004e+02,  1.88188000e-01, -1.43392000e-01,
         1.57649000e+01],
       [ 4.06526367e+02,  3.88616000e-01,  8.28853000e-01,
         7.24449000e+00]])

In [20]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [21]:
y_pred = regressor.predict(X_test)

In [22]:
y_pred, y_test

(array([[0.32522264],
        [0.72838348],
        [0.46600372],
        [0.20719964],
        [0.32732209]]), array([[0.43888748],
        [0.64531325],
        [0.48248286],
        [0.3179459 ],
        [0.19831599]]))

In [23]:
y_train

array([[0.13077205],
       [0.2363544 ],
       [0.12607543],
       [0.18462103],
       [0.64316945],
       [0.31883445],
       [0.48760261],
       [0.41113086],
       [0.13759838],
       [0.57053398],
       [0.31625342],
       [0.35385462],
       [0.41152577],
       [0.74828637],
       [0.49445714],
       [0.21198274],
       [0.3367606 ],
       [0.12991171],
       [0.56800936]])

In [24]:
regressor.coef_

array([[ 0.00110122, -0.19903983,  0.0530006 , -0.00299553]])

In [25]:
print('Training score {}'.format(regressor.score(X_train, y_train)))
print('Testing score {}'.format(regressor.score(X_test, y_test)))

Training score 0.5270791522302323
Testing score 0.5721621756679296

In [133]:
y_test

X_test

array([[3.79680825e+02, 6.93272000e-01, 2.04063000e+00, 1.63224000e+01],
       [6.40749789e+02, 1.98314000e-01, 1.99501000e+00, 9.79030000e+00],
       [4.10926807e+02, 9.32662000e-02, 1.00429000e+00, 2.34361000e+00],
       [3.47320446e+02, 3.95808000e-01, 9.96280000e-02, 2.92483000e+01],
       [3.04773334e+02, 1.83820000e-01, 1.04315000e+00, 4.28608000e+00]])

In [134]:
predictdata=np.array([[255.8827311303,0.155722,1.05988,16.0668]])
regressor.predict(predictdata)

array([[0.24467245]])